
#sidebar{
    border-right: 1px solid black;
    height: 90vh;
    grid-row: 2/4;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    gap: 18px;
}


#projectBox{
    border: 1px solid black;
}


#projectDiv{
    background-color: white;
}